@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #121212;
    --foreground: #FFFFFF;
    --card: #181818;
    --card-foreground: #FFFFFF;
    --popover: #282828;
    --popover-foreground: #FFFFFF;
    --primary: #1DB954;
    --primary-foreground: #000000;
    --secondary: #535353;
    --secondary-foreground: #FFFFFF;
    --muted: #404040;
    --muted-foreground: #A7A7A7;
    --accent: #1DB954;
    --accent-foreground: #000000;
    --destructive: #FF4D4F;
    --destructive-foreground: #FFFFFF;
    --border: #282828;
    --input: #282828;
    --ring: #1DB954;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

nextjs-portal {
  display: none;
}
